<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663805210025-p1p7jncauph0v5igc04298veqpnucb41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663805210025-p1p7jncauph0v5igc04298veqpnucb41</string>
	<key>API_KEY</key>
	<string>AIzaSyBr-5h893Sgrk0ta1vDf3nTgN5SS475ukc</string>
	<key>GCM_SENDER_ID</key>
	<string>663805210025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.besmart2025</string>
	<key>PROJECT_ID</key>
	<string>besmart2025-d6c3f</string>
	<key>STORAGE_BUCKET</key>
	<string>besmart2025-d6c3f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663805210025:ios:2158588d02ae79d2bfe8b8</string>
</dict>
</plist>